---
layout: home
title: Home
order: 0
---

<h1 class="page-heading">Welcome to SKKU Interactive Data Computing Laboratory!</h1>

<section id="intro">
  <p>
    <span style="font-weight:bold">We aim to bridge the gap between humans and data.</span>
    The ever-increasing size and complexity of data now challenge our perceptual and cognitive abilities, making modern
    datasets and AI models difficult to interpret without computational and visual support.

    Our research addresses this challenge by studying interactive visualization systems, drawing from the fields of
    Information Visualization and Human–Computer Interaction.

    We aim to help users explore, understand, and reason about complex data and models by tightly integrating
    computational
    methods with human-centered visual interfaces.
  </p>
  <p>
    Check out our open-source projects and research prototypes at
    <a href="https://github.com/skku-idclab">https://github.com/skku-idclab</a>!
  </p>
  <!-- <p class="ad mt-1">
    We are seeking motivated senior undergraduates who are developing their own research projects and plan to join our
    graduate program. If you are interested in Human–Data Interaction, Human–AI Interaction, High-Dimensional Data
    Visualization, or Progressive Visual Analytics, please contact Prof. Jaemin Jo at <a
      href="mailto:jmjo@skku.edu">jmjo@skku.edu</a>.
  </p>
  <p class="ad mt-1">
    독자적인 연구를 수행하면서 대학원 진학을 희망하는 학부 연구생을 모집하고 있습니다. 인간-데이터 상호작용, 인간-인공지능 상호작용, 고차원 데이터 시각화, 점진적 시각적 분석에 관심이 있는 학생들은 조재민
    교수 <a href="mailto:jmjo@skku.edu">jmjo@skku.edu
    </a>로 연락 바랍니다.
  </p>

  <p class="ad mt-1">
    성균관대학교 메타버스 기반 방사선 안전 연구센터에서 간단한 Android/Unity 개발을 도와줄 학부 연구생을 찾고 있습니다. 학부 과정과 병행할 수 있고 개발 범위에 따른 인건비가 지급됩니다(6개월 이상
    참여를 선호, 개인 포트폴리오에 포함 가능). 관심이 있는 학생은 조재민 교수 <a href="mailto:jmjo@skku.edu">jmjo@skku.edu
    </a>로 연락 바랍니다.
  </p> -->
</section>

<h2 class="mt-8">Selected Projects</h2>

<section id="projects">
  {% assign selected_projects = site.data.projects | where_exp: "item",
  "item.selected" %} {% for proj in selected_projects %} {% include project.html
  proj=proj %} {% endfor %}
</section>